* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins";
}

h1 {
  font-family: "Gotham";
  font-weight: bold;
}
h2 {
  font-family: "Gotham";
  font-weight: normal;
}

.link {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  background: $color-primary;
  padding: 12px 80px;
  border: solid 1px $color-primary;
  border-radius: 60px;
  color: white;
  cursor: pointer;
  text-decoration: none;

  &--white {
    color: $color-primary;
    background-color: white;
    border: solid 1px $color-primary;
  }
}
