$color-primary: #691c33;

$color-solidarite-primary: #86cac2;
$color-solidarite-secondary: #f3a1c6;
$gradient-solidarite: transparent
  linear-gradient(90deg, #a1d2b8 0%, #f3a1c6 100%) 0% 0% no-repeat padding-box;

$color-education-primary: #83ceea;
$color-education-secondary: #2268b1;
$gradient-education: transparent
  linear-gradient(90deg, #83ceea 0%, #2268b1 100%) 0% 0% no-repeat padding-box;

$color-amateur-primary: #fac084;
$color-amateur-secondary: #e72a74;
$gradient-amateur: transparent linear-gradient(90deg, #fac084 0%, #e72a74 100%)
  0% 0% no-repeat padding-box;

$color-eco-primary: #fed130;
$color-eco-secondary: #a1d2b8;
$gradient-eco: transparent linear-gradient(90deg, #fed130 0%, #a1d2b8 100%) 0%
  0% no-repeat padding-box;

$font-primary: "Poppins";
$font-secondary: "Gotham";
